
p {
  line-height: 1.65;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h3 {
  margin-top: 0;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
}

li {
  list-style: none;
}